@use '../base/'as *;
@use '../abstracts/'as a;

.header {
  width: 100%;
  min-height: 75px;
  border-bottom: 3px solid $clr--silver;
  color: $clr--silver;
  & .nav {
    width: 92%;
    margin-left: 4%;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include a.breakpoint(tablet) {
      flex-direction: row;
      justify-content: space-between;
    }
    & .nav-box {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      & .logo {
        content: url('../images/camera.svg');
        width: clamp(2rem, 5vw, 4rem);
        margin-top: 3px;
      }
      & .nav-title {
        font-family: $ff--sansita;
        font-size: clamp(1.25rem, 0.5rem + 2vw, 4rem);
        letter-spacing: 1px;
        margin-left: clamp(20px, 4vw, 40px);
      }
    }
    .search {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      input[type='text'] {
        width: 16rem;
        height: 2rem;
        border-radius: 10px;
        background-color: $clr--silver;
        padding-left: 1rem;
        font-family: $ff--roboto-slab;
        font-size: 1.125rem;
        @include a.breakpoint(tablet) {
          width: 20rem;
        }
        &:focus {
          background-color: $clr--ivory;
          outline: none;
          font-weight: 600;
        }
      }
      & .search-icon {
        content: url('../images/active-search.svg');
        max-width: 2rem;
        margin-left: 10px;
      }
    }
  }
}
